<body data-spy="scroll" data-target=".codex-article-sidebar">
	<div class="codex-article-header">
		<div class="container">
        <h1>Project Name: Codex</h1>
    </div>
</div>
	
	<div class="container">
		<div class="row">
	    	<div class="col col-lg-3">
	        	<div class="codex-article-sidebar">
					<ul class="nav codex-article-sidenav">
						<li><a href="#">Top</a></li>
						<li><a href="#info">Summary</a></li>
						<li><a href="#issue">Issue</a></li>
						<li><a href="#isolation">Isolation</a></li>
						<li><a href="#resolution">Resolution</a></li>
						<li><a href="#secret">Secret info</a></li>
						<li><a href="#doublesecret">Double info	</a></li>
					</ul>
				</div>
			</div>
			<div class="col col-lg-9">
				<div class="page-header" id="info">
					<h1>Article Title<br /><small>Author : Some Author</small></h1><br />
						<p class="lead">Synopsis of article or prerequsite information</p>
				</div>
				
				<div class="codex-article-section" id="issue">
					<h1>Issue:</h1><br/>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent fringilla, felis vel ullamcorper elementum, leo dui volutpat quam, sed sagittis magna est sed orci. Donec accumsan commodo nisl a laoreet. Nunc et lorem nulla. Cras id massa elit, facilisis vestibulum tortor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam faucibus adipiscing massa, et luctus diam pulvinar ut. Fusce quis neque augue. Integer elit orci, blandit vitae sollicitudin eu, venenatis sed lectus. Praesent lectus arcu, dictum et viverra nec, sodales et lacus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed nibh quam, hendrerit sit amet tincidunt nec, consequat pharetra erat.
					</p>
				</div>
				<div class="codex-article-section" id="isolation">
				<br />
				<h1>Isolation:</h1></br>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam augue odio, vestibulum eu consequat non, elementum a libero. Proin venenatis purus eget ligula tincidunt aliquet. Cras in interdum tortor. Cras id mi id magna imperdiet hendrerit non quis justo. Duis faucibus vulputate velit at fermentum. Ut rutrum tempor leo et posuere. Donec ut mi at sem egestas condimentum vel vitae nunc. Ut pharetra porta gravida. Etiam consequat nisl nec mi imperdiet vehicula. Proin placerat, erat a volutpat accumsan, enim libero dictum lorem, hendrerit laoreet nisl ipsum in lacus. Pellentesque in neque nec purus venenatis consectetur. Pellentesque nec justo purus, a dapibus sem.</p>

					<p>Quisque enim purus, eleifend nec mollis quis, sollicitudin posuere orci. Proin rutrum turpis id arcu malesuada imperdiet. Vestibulum aliquam volutpat venenatis. Etiam tristique, purus quis pulvinar pulvinar, dolor libero cursus est, vel placerat ligula risus in lectus. Morbi in nulla ante, quis aliquet nibh. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed porttitor lectus ac leo sodales facilisis eget ac nibh. Donec dignissim tincidunt nisl, at sodales augue sodales id. Aenean a aliquet lacus. Vestibulum a felis a ante tristique eleifend sit amet vel nunc. Fusce nisi odio, facilisis varius fermentum vel, lacinia at eros. Ut condimentum pharetra varius.</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ornare arcu at arcu accumsan consectetur. Nunc viverra semper risus, eget varius ante malesuada in. Pellentesque et condimentum turpis. Nullam eu erat quis quam euismod sagittis. Pellentesque quis est dolor, ac adipiscing quam. Nam lobortis ultricies elit at lobortis. Suspendisse posuere sagittis justo, ac rutrum felis interdum a. Nam molestie mauris id quam pretium facilisis. Duis in justo lacus, vel rhoncus mi. Etiam eget enim elit. In at felis eget neque elementum vestibulum. Nam eu nibh a leo faucibus rhoncus vitae a orci. In ultricies suscipit dui et aliquet. Donec id dui dolor. Proin ac lorem felis, sit amet placerat augue.</p>
				</div>
				
				<div class="codex-article-section" id="resolution">
					<h1>Resolution:</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam augue odio, vestibulum eu consequat non, elementum a libero. Proin venenatis purus eget ligula tincidunt aliquet. Cras in interdum tortor. Cras id mi id magna imperdiet hendrerit non quis justo. Duis faucibus vulputate velit at fermentum. Ut rutrum tempor leo et posuere. Donec ut mi at sem egestas condimentum vel vitae nunc. Ut pharetra porta gravida. Etiam consequat nisl nec mi imperdiet vehicula. Proin placerat, erat a volutpat accumsan, enim libero dictum lorem, hendrerit laoreet nisl ipsum in lacus. Pellentesque in neque nec purus venenatis consectetur. Pellentesque nec justo purus, a dapibus sem.</p>

					<p>Quisque enim purus, eleifend nec mollis quis, sollicitudin posuere orci. Proin rutrum turpis id arcu malesuada imperdiet. Vestibulum aliquam volutpat venenatis. Etiam tristique, purus quis pulvinar pulvinar, dolor libero cursus est, vel placerat ligula risus in lectus. Morbi in nulla ante, quis aliquet nibh. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed porttitor lectus ac leo sodales facilisis eget ac nibh. Donec dignissim tincidunt nisl, at sodales augue sodales id. Aenean a aliquet lacus. Vestibulum a felis a ante tristique eleifend sit amet vel nunc. Fusce nisi odio, facilisis varius fermentum vel, lacinia at eros. Ut condimentum pharetra varius.</p>

					<p>Code:
						<br/>
						<pre>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ornare arcu at arcu accumsan consectetur. Nunc viverra semper risus, eget varius ante malesuada in. Pellentesque et condimentum turpis. Nullam eu erat quis quam euismod sagittis. Pellentesque quis est dolor, ac adipiscing quam. Nam lobortis ultricies elit at lobortis. Suspendisse posuere sagittis justo, ac rutrum felis interdum a. Nam molestie mauris id quam pretium facilisis. Duis in justo lacus, vel rhoncus mi. Etiam eget enim elit. In at felis eget neque elementum vestibulum. Nam eu nibh a leo faucibus rhoncus vitae a orci. In ultricies suscipit dui et aliquet. Donec id dui dolor. Proin ac lorem felis, sit amet placerat augue.
						</pre>
					</p>
				</div>
				
				<div class="codex-article-section" id="secret">
					<h1>Secret info</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam augue odio, vestibulum eu consequat non, elementum a libero. Proin venenatis purus eget ligula tincidunt aliquet. Cras in interdum tortor. Cras id mi id magna imperdiet hendrerit non quis justo. Duis faucibus vulputate velit at fermentum. Ut rutrum tempor leo et posuere. Donec ut mi at sem egestas condimentum vel vitae nunc. Ut pharetra porta gravida. Etiam consequat nisl nec mi imperdiet vehicula. Proin placerat, erat a volutpat accumsan, enim libero dictum lorem, hendrerit laoreet nisl ipsum in lacus. Pellentesque in neque nec purus venenatis consectetur. Pellentesque nec justo purus, a dapibus sem.</p>
				</div>
				
				<div class="codex-article-section" id="doublesecret">
					<h1>Double Secret info</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam augue odio, vestibulum eu consequat non, elementum a libero. Proin venenatis purus eget ligula tincidunt aliquet. Cras in interdum tortor. Cras id mi id magna imperdiet hendrerit non quis justo. Duis faucibus vulputate velit at fermentum. Ut rutrum tempor leo et posuere. Donec ut mi at sem egestas condimentum vel vitae nunc. Ut pharetra porta gravida. Etiam consequat nisl nec mi imperdiet vehicula. Proin placerat, erat a volutpat accumsan, enim libero dictum lorem, hendrerit laoreet nisl ipsum in lacus. Pellentesque in neque nec purus venenatis consectetur. Pellentesque nec justo purus, a dapibus sem.</p>
			</div>
				
				
			</div>
		</div>
	</div>
