// Place all the styles related to the codex controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.codex-article-sidebar.affix {
  position: fixed;
}
.codex-article-header{
	font-size: 22px;
	text-align: center;
}
.codex-article-section{
	padding-top: 30px;
}
.codex-article-sidenav {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-shadow: 0 1px 0 #FFFFFF;
  background-color: #f5f5f5;
  border-radius: 5px;
}
.codex-article-sidebar .nav > li > a {
  display: block;
  color: #666666;
  padding: 4px 20px;
}
.codex-article-sidebar .nav > li > a:hover,
.codex-article-sidebar .nav > li > a:focus {
  text-decoration: none;
  border-right: 1px solid #7D280C;
}
.codex-article-sidebar .nav > .active > a,
.codex-article-sidebar .nav > .active:hover > a,
.codex-article-sidebar .nav > .active:focus > a {
  font-weight: 500;
  color: #7D280C;
  background-color: transparent;
  border-right: 1px solid #7D280C;
}

.codex-article-header {
  padding: 30px 30px 40px;
  font-size: 16px;
  color: #5a5a5a;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
.codex-article-header h1 {
  color: #7D280C;
}
.codex-article-header p {
  font-weight: 300;
  line-height: 1.5;
}